<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Model>gpt-3.5-turbo</Model>
	<Embeddings>text-embedding-ada-002</Embeddings>
	<EndPoint></EndPoint>
	<ApiKey></ApiKey>
	<GoogleAPIKey></GoogleAPIKey>
	<GoogleEngineId></GoogleEngineId>
</Config>

